# /etc/wiconn.conf.sample
#
## Interface configuration
# intf=iwn0
## wpa_supplicant configuration
# wpa_supplicant_conf=/etc/wpa_supplicant.conf
#
## The config file expects network configuration in the following format:
# network {
#   nwid=myssid
#   wpakey=myhashedkey
#   options=extra options to pass to ifconfig
#   # enterprise activates wpa_supplicant using the provided interface, and
#   # configuration file specificed in INTF, and WPA_SUPPLICANT respectively.
#   enterprise=false
# }
#
## Network examples
#
# network {
#     nwid=myssid
#     wpakey=myhashedkeyORnot
# }
# 
# network {
#     nwid=myuniversity
#     options=wpaakms 802.1x
#     enterprise=true
# }
